.has-smooth-scroll, .has-smooth-scroll body {
  overscroll-behavior: none;
  scroll-behavior: auto;
}

.has-smooth-scroll body {
  height: var(--content-height);
}

.has-smooth-scroll .site-content {
  transform: translateY(calc(var(--scroll-y) * -1));
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

*, :before, :after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizespeed;
  min-height: 100vh;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  -webkit-tap-highlight-color: transparent;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

button {
  color: inherit;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: none;
  border: none;
  padding: 0;
}

svg {
  fill: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, :before, :after {
    scroll-behavior: auto !important;
    transition-duration: .01ms !important;
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
  }
}

.container {
  width: calc(100% - 64px);
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.container .container {
  width: 100%;
}

.container--small {
  max-width: 640px;
}

body {
  color: #fff;
  background: #101820;
  font-family: Poppins, Sans Serif;
  line-height: 2.25;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 32px;
  font-family: "Source Serif 4", "Serif";
  font-weight: 300;
  line-height: 1.2em;
}

h1 {
  font-size: 58px;
  font-weight: normal;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 24px;
  font-weight: 300;
}

.is-style-large {
  font-size: 18px;
  font-weight: 100;
  line-height: 2em;
}

@media screen and (width >= 768px) {
  .is-style-large {
    font-size: 24px;
  }
}

.is-style-small {
  font-size: 14px;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
}

@media screen and (width >= 768px) {
  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 64px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 36px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 18px;
  }
}

.js .work h1, .work .js h1, .js .logo__name {
  visibility: hidden;
}

.work h1 .st-line, .logo__name .st-line, .work h1 .st-char, .logo__name .st-char {
  display: inline-block;
}

.btn {
  letter-spacing: .1em;
  text-transform: uppercase;
  background: #000 url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(8, 138, 244, 1)' viewBox='0 0 256 64' preserveAspectRatio='none'%3E%<path d='M128 0C57.3 0 0 14.3 0 32v32h256V32c0-17.7-57.3-32-128-32z'/>%3C/svg%3E") 0 100% / 100% 0% no-repeat;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 600;
  transition: background-size 1.25s cubic-bezier(.19, 1, .22, 1);
  display: inline-block;
}

.btn:hover, .btn:focus, .btn:active {
  background-size: 100% 200%;
}

.btn-close {
  background: #000 url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(8, 138, 244, 1)' viewBox='0 0 256 64' preserveAspectRatio='none'%3E%<path d='M128 0C57.3 0 0 14.3 0 32v32h256V32c0-17.7-57.3-32-128-32z'/>%3C/svg%3E") 0 100% / 100% 0% no-repeat;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  transition: background-size .5s cubic-bezier(.19, 1, .22, 1);
  display: inline-block;
  position: relative;
}

.btn-close:before, .btn-close:after {
  content: "";
  background: #fff;
  width: 50%;
  height: 2px;
  margin-top: -1px;
  transition: background-color .25s;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: rotate(45deg);
}

.btn-close:after {
  transform: rotate(-45deg);
}

.btn-close:hover, .btn-close:focus, .btn-close:active {
  background-size: 100% 100%;
}

.btn-social {
  vertical-align: bottom;
  background: #000 url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(8, 138, 244, 1)' viewBox='0 0 256 64' preserveAspectRatio='none'%3E%<path d='M128 0C57.3 0 0 14.3 0 32v32h256V32c0-17.7-57.3-32-128-32z'/>%3C/svg%3E") 0 100% / 100% 0% no-repeat;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: background-size .5s cubic-bezier(.19, 1, .22, 1);
  display: inline-block;
}

.btn-social:hover, .btn-social:focus, .btn-social:active {
  background-size: 100% 100%;
}

.has-custom-cursor * {
  cursor: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" xml:space=\"preserve\" fill=\"%23fff\" viewBox=\"0 0 8 8\" width=\"8\" height=\"8\"><circle cx=\"4\" cy=\"4\" r=\"3\"/></svg>"), auto !important;
}

.has-custom-cursor :hover .cursor {
  opacity: 1;
}

.has-custom-cursor .cursor {
  z-index: 2147483647;
  pointer-events: none;
  opacity: 0;
  mix-blend-mode: screen;
  transition: opacity .25s;
  position: fixed;
  top: 0;
  left: 0;
}

.has-custom-cursor .cursor > div {
  background: #088af4;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: -9px 0 0 -9px;
  transition: transform .3s cubic-bezier(.65, 0, .35, 1);
  position: absolute;
  top: 50%;
  left: 50%;
}

.has-custom-cursor .cursor.is-active > div {
  transform: scale(2);
}

.has-custom-cursor .cursor.is-active[data-class*="btn"] > div {
  transform: scale(0);
}

.has-custom-cursor .cursor.is-active[data-tag="iframe"] {
  opacity: 0;
}

.has-custom-cursor .cursor.is-active[data-tag="iframe"] > div {
  transform: scale(0);
}

.logo {
  z-index: 1;
  display: block;
  position: relative;
}

.logo__name {
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 300;
}

.logo__baseline {
  color: #5e6e7c;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.js .logo__baseline {
  opacity: 0;
}

@media screen and (width <= 1280px) {
  .logo__name {
    font-size: 26px;
  }

  .logo__baseline {
    font-size: 10px;
  }
}

.device {
  background: #000;
  border-radius: clamp(2px, .53vw, 16px);
  position: relative;
}

.device--desktop {
  aspect-ratio: 1280 / 825;
}

.device--desktop > * {
  width: 98.75%;
  height: 88.36%;
  top: 3.87%;
  left: .62%;
}

.device--mobile {
  aspect-ratio: 376 / 704;
  width: 376px;
  max-width: 100%;
  margin: 0 auto;
}

.device--mobile > * {
  width: 95.74%;
  height: 90.9%;
  top: 4.54%;
  left: 2.12%;
}

.device img, .device iframe {
  position: absolute;
}

.device img {
  object-fit: cover;
  object-position: center top;
  display: block;
}

.device iframe {
  border: none;
}

.popin {
  z-index: 3000;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.popin > div {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: transform 2s cubic-bezier(.87, 0, .13, 1), opacity 1s;
  overflow: auto;
  transform: translateX(20%);
}

.popin > div > div {
  padding: 64px 32px;
}

.popin__background {
  z-index: -1;
  fill: #000;
  aspect-ratio: .515;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)rotate(-180deg);
}

.popin .btn-close {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255, 255, 255, 1)' viewBox='0 0 256 64' preserveAspectRatio='none'%3E%<path d='M128 0C57.3 0 0 14.3 0 32v32h256V32c0-17.7-57.3-32-128-32z'/>%3C/svg%3E");
  border: 1px solid #fff;
  margin: 96px auto 0;
  display: block;
}

.popin .btn-close:hover:before, .popin .btn-close:hover:after, .popin .btn-close:focus:before, .popin .btn-close:focus:after, .popin .btn-close:active:before, .popin .btn-close:active:after {
  background-color: #000;
}

.popin--company h2 svg {
  width: 192px;
  height: 96px;
  margin: 0 auto 64px;
  display: block;
}

.popin.is-open > div {
  opacity: 1;
  transition-delay: 0s, 1s;
  transform: translateX(0%);
}

@media screen and (width >= 768px) {
  .popin > div > div {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (width >= 1024px) {
  .popin > div {
    width: 50%;
    margin-left: 50%;
  }

  .popin > div > div {
    padding: 128px;
  }

  .popin__background {
    min-width: 50%;
    left: 75%;
  }
}

.socials {
  gap: 16px;
  margin: 0;
  list-style: none;
  display: flex;
  position: fixed;
  bottom: 16px;
  right: 32px;
}

@media screen and (width >= 768px) {
  .socials {
    bottom: 32px;
  }
}

.site-header {
  z-index: 2000;
  background: #000;
  width: 100%;
  padding: 16px 32px;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (width >= 1280px) {
  .site-header {
    background: none;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-intro {
  display: none;
}

.js .site-intro {
  z-index: 1000;
  width: 100%;
  height: calc(100% - 85px);
  display: block;
  position: fixed;
  top: 85px;
  left: 0;
  overflow: hidden;
}

.js .site-intro:empty {
  background: #000;
}

.js .site-intro__background {
  fill: #000;
  aspect-ratio: 1.94;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (width >= 1024px) {
  .js .site-intro {
    height: 100%;
    top: 0;
  }
}

.work {
  padding: 128px 0;
}

.work__header {
  width: calc(100% - 64px);
  max-width: 960px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.work__chapeau {
  margin: 0;
}

.work__btn {
  margin-top: 32px;
}

.work__devices {
  perspective: 1000px;
  padding-bottom: 5%;
  position: relative;
}

.work__devices .device--mobile {
  transform: translateY(calc(-15% + (1 - var(--percent-y, 0)) * 30%));
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 5%;
  box-shadow: 0 0 80px #00000080;
}

.work__devices img {
  opacity: calc(var(--percent-y, 0) * 3);
}

.work__btn-close {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 0;
}

@media screen and (width >= 768px) {
  .work {
    padding-top: 256px;
    padding-bottom: 256px;
  }

  .work__header {
    margin-bottom: 128px;
  }

  .work__btn {
    margin-top: 64px;
  }

  .work__btn-close {
    margin-top: 128px;
  }
}

.works-list {
  width: calc(100% - 64px);
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 128px 0;
  list-style: none;
}

.works-list ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.works-list li:not(:last-child) {
  margin-bottom: 64px;
}

.works-list__company {
  text-align: center;
  background: none;
  border: 2px solid #39648740;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 256px;
  margin: 64px auto;
  transition: border-color 1s;
  display: flex;
  position: relative;
}

.works-list__company:before {
  z-index: -1;
  content: "";
  opacity: var(--percent-y-from-middle, 0);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 16px #088af480, inset 0 0 16px #088af480;
}

.works-list__company svg {
  width: 128px;
  height: 64px;
  margin: 0 auto 16px;
  display: block;
}

.works-list__company:hover, .works-list__company:focus, .works-list__company:active {
  border-color: #396487;
  transition-duration: 3s;
  transition-delay: .2s;
}

.works-list__project-link {
  display: block;
  position: relative;
}

.works-list__project-link:before, .works-list__project-link:after {
  z-index: -1;
  content: "";
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.works-list__project-link span {
  display: block;
  overflow: hidden;
}

.works-list__project-link .works-list__project-logo {
  z-index: 1;
  object-fit: contain;
  width: 40%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works-list__project-link .works-list__project-screenshot {
  opacity: .25;
  aspect-ratio: 640 / 370;
  max-width: 100%;
}

@media screen and (width <= 1280px) {
  .works-list__project-link .works-list__project-logo {
    opacity: var(--percent-y-from-middle);
  }
}

@media screen and (width >= 768px) {
  .works-list {
    padding-top: 128px;
    padding-bottom: 256px;
  }

  .works-list li:not(:last-child) {
    margin-bottom: 128px;
  }

  .works-list__company {
    margin-top: 128px;
    margin-bottom: 128px;
  }
}

@media screen and (width >= 1280px) {
  .works-list__project-link:before {
    z-index: -2;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 1s;
    box-shadow: 0 0 128px #088af440;
  }

  .works-list__project-link .works-list__project-logo {
    opacity: 0;
    transition: opacity 1s;
  }

  .works-list__project-link:hover:before, .works-list__project-link:hover .works-list__project-logo, .works-list__project-link:focus:before, .works-list__project-link:focus .works-list__project-logo, .works-list__project-link:active:before, .works-list__project-link:active .works-list__project-logo {
    opacity: 1;
    transition-duration: 3s;
    transition-delay: .2s;
  }
}

/*# sourceMappingURL=index.da533f7e.css.map */
